<!-- <div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div> -->

<ng-template #loggedOut>
    <div class="jumbotron jumbtron-fluid">
        <h3 class="display-4 text-center"><a href="https://icon-library.net/icon/conference-room-icon-2.html"
                title="Conference Room Icon #418927"><img
                    src="https://icon-library.net//images/conference-room-icon/conference-room-icon-2.jpg"
                    width="200"></a> Book Metting Room.</h3>
        <hr>
        <h2 class="display-10 text-center"> Please Login to Continue. </h2>
    </div>
</ng-template>

<table *ngIf="info.token; else loggedOut" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Username</td>
            <td>{{profile.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{profile.email}}</td>
        </tr>
        <tr *ngFor="let role of profile.roles">
            <td>Role</td>
            <td>{{role.name}}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>{{profile.department}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
</table>